spring-customer-xsd-namespace/first-customer-xsd/src/main/resources/META-INF/testreg.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
xmlns:自定义默认命名空间;
xmlns:xsd:引入xsd命名空间;
xmlns:beans:引入spring beans 默认命名空间
targetNamespace:自定义命名空间对应url地址
elementFormDefault="qualified" : 限制引入该xsd的xml 如果需要使用该文件内的element,强制要求需要添加当前xsd文件名作为前缀
attributeFormDefault="unqualified" : 限制引入该xsd的xml 如果需要使用该文件内的element下的 attribute,强制要求需要添加当前xsd文件名作为前缀
-->
<xsd:schema
        xmlns="http://crayonshinchanxingguo.com/schema/frame/reg"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:beans="http://www.springframework.org/schema/beans"
        targetNamespace="http://crayonshinchanxingguo.com/schema/frame/reg"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">
    <xsd:import namespace="http://www.springframework.org/schema/beans"/>
    
    <xsd:element name="zookeeper">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="server-lists" type="xsd:string" use="required" />
                    <xsd:attribute name="namespace" type="xsd:string" use="required" />
                    <xsd:attribute name="base-sleep-time-milliseconds" type="xsd:string" />
                    <xsd:attribute name="max-sleep-time-milliseconds" type="xsd:string" />
                    <xsd:attribute name="max-retries" type="xsd:string" />
                    <xsd:attribute name="session-timeout-milliseconds" type="xsd:string" />
                    <xsd:attribute name="connection-timeout-milliseconds" type="xsd:string" />
                    <xsd:attribute name="digest" type="xsd:string" />
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
